@import "../../css-config/mixins.scss";

.footer {
    .footer-content {
        padding: 3rem 1rem;
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: space-between;
        gap: 1.2rem;
        padding: 3rem 0;

        .col {
            max-width: 300px;

            .title {
                margin-bottom: 1.3rem;
                font-size: 1.3rem;
            }

            .text {
                color: rgba(0, 0, 0, 0.5);
                font-size: 1rem;
            }

            .c-item {
                display: flex;
                margin-bottom: 0.8rem;

                svg {
                    flex-shrink: 0;
                    font-size: 1rem;
                    margin: .5rem;
                    color: rgba(0, 0, 0, 0.5);
                }
            }

            span {
                &.text {
                    display: block;
                    margin-bottom: 1rem;
                    cursor: pointer;
                }
            }
        }
    }

    .bottom-bar {
        background-color: rgb(232, 231, 231);
        .bottom-bar-content {
            padding: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            gap: 1rem;
            .text{
                font-size: 1rem;
            }
        }
    }
}